.SceneTransition {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:#000;
	opacity:0;
	animation: scene-transition-fade-in var(--scene-transition-time) forwards;
	width:255px;
	height:223px;
}

.SceneTransition.fade-out {
	animation: scene-transition-fade-out var(--scene-transition-time) forwards;
}

@keyframes scene-transition-fade-in {
	from { opacity:0; }
	to { opacity:1; }
}

@keyframes scene-transition-fade-out {
	from { opacity:1; }
	to { opacity:0; }
}
